<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <title>Add Provinsi</title>
  </head>
  <body>
    <div class="container">

      {{#if user}}
        <p>Welcome, {{user.username}}!</p>
        <a href="/logout" class="btn btn-danger">Logout</a>
      {{else}}
        <a href="/login" class="btn btn-primary">Login</a>
      {{/if}}

      <div class="container mt-5">
        <h2 class="mb-4">Tambah Data Kabupaten</h2>

        <form
          action="/create-kabupaten"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="">Nama Kabupaten</label>
          <input
            type="text"
            name="nama"
            placeholder="Nama Kabupaten"
            required
          />
          <label for="">Diresmikan</label>
          <input type="date" name="diresmikan" required />
          <label for="">Foto Kabupaten</label>
          <input name="image" type="file" id="image" />
          <label for="">Provinsi</label>
          <select name="provinsi" required>
            {{#each provinsi}}
              <option value="{{this.nama}}">{{this.nama}}</option>
            {{/each}}
          </select>
          <button type="submit">Simpan</button>
        </form>

      </div>
    </div>
  </body>
</html>